﻿@model ErrorViewModel

@if (Model.ShowRequestId)
{
    <div>
        <p>Error ID: <strong>@Model.RequestId</strong></p>
        <p>Error Message: <strong>@Model.ErrorMessage</strong></p>
    </div>
}
else
{
    <div>
        <p>Error Message: <strong>@Model.ErrorMessage</strong></p>
    </div>
}