﻿@{
    ViewBag.Title = "Enter Instagram Username";
}

<h2>@ViewBag.Title</h2>

<form action="/Instagram/Index" method="post">
    <label for="userName">Instagram Username:</label>
    <input type="text" id="userName" name="userName" required />
    <input type="submit" value="Get Videos" />
</form>