﻿@model IEnumerable<string>
@{
    ViewBag.Title = "Instagram Videos";
    var videoUrls = Model;
}

<h2>@ViewBag.Title</h2>

<style>
    #contentWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        gap: 20px;
        justify-content: center;
    }

    .videoPlayer {
        width: 360px;
    }

    .videoElement {
        width: 100%;
        height: 640px;
    }
</style>

@if (videoUrls != null && videoUrls.Any())
{
    <div id="contentWrapper">
        @{
            foreach (var videoUrl in videoUrls)
            {
                <div class="videoPlayer">
                    <video id="videoElement@counter" class="videoElement" controls muted>
                        <source src="@videoUrl" type="video/mp4">
                        Ваш браузер не поддерживает элемент <code>video</code>.
                    </video>
                </div>
            }
        }
    </div>
}
else
{
    <p>No videos found for the given username.</p>
}